@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


 p{
     font-family: "Montserrat", sans-serif;
      line-height: 1.8;
      font-size:16px;
 }

 .parallax{
     overflow:hidden;
 }
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: "Lora", serif;
   font-size:30px;
  color:#0d63ca; }


.card-style{
    background:#fff;
    border-radius:3px !important;
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
     box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
}
.card-style h4{
    font-family: "Lora", serif;
    margin-bottom: 10px;
    font-size: 23px;
    line-height: 1;
    color:#0d63ca;
}
.jobs-display h4{
   font-size:20px !important;
   
}
.read-less,.read-more:hover{
    cursor:pointer;
}

.nav-link{
    font-family: "Lora", serif;
    font-size:13px;
    text-transform:uppercase;
    font-weight:800;
}
.text-dark{
    font-size:27px;
    font-family: "Lora", serif;
}
.post-style{
   background:#F8FDFF;
}
.post-style h3 a{
     font-size:18px;
      font-style: italic;
      text-transform:capitalize;
}
.post-link{
    color:#136ad5;
}
.created-name{
    font-size:14px;
}
.btn{
    font-family: "Lora", serif;
  padding: 12px 20px;
  border-radius: 3px !important;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .05rem;
 
}
 .btn-primary {
    background: #1573e8;
    border-color: #136ad5; }
    .btn-primary:hover {
      border-color: #1573e8;
      background: #4DBF49; }
.header-section{
 margin-top: 4.5rem;
 background-image: linear-gradient(rgba(0,0,0,0),rgb(0,0,0,0)),url('/assets/images/header-bg1.jpg');
 background-size:cover;
 background-position: left-center;
}
.header-section h1{
    
    text-transform:uppercase;
    font-size:45px;
}
/*
.header-section h5{
    color:#fff;
}
.header-section p{
    color:#fefefe;
    }
*/
.modal-header{
     padding:15px;
     
}
.modal-title{
   text-transform:uppercase;
      font-family: "Lora", serif;
      font-size:16px;
       
}
.top-lining{
   background-image: linear-gradient(rgba(0,0,0,0),rgb(0,0,0,0)),url('/assets/images/header-bg1.jpg');  
   background-size:cover;
}
.about-images{
    margin-top:80px;
}

.output-card {
  display: inline-block;
  padding: 20px;
  background: rgba(19, 106, 213, 0.05);
  border-radius: 4px;
  text-decoration: none !important; }
  .output-card, .output-card h3, .output-card span {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .output-card h3 {
    font-family: "Lora", serif;
    margin: 0;
    font-size: 20px;
    line-height: 1;
    color:#0d63ca; }
 
  .output-card i {
    text-align: center;
    display: inline-block;
    color: #00aeff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    background: #ffffff;
    font-size: 30px;
    line-height: 40px; }
 .output-card p{
     padding-top:8px;
 }


 .video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video-item {

  border: 1px solid #f8f6f6;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

video {
  width: 100%;
  display: block;
}

.video-caption {
  padding: 10px;
  text-align: center;
   background-color: #ffffff;
  border-top: 1px solid #ddd;
}
.video-caption h4{
    font-size:16px;
}









